{% extends 'base.html' %}
{% block content %}

<div class="container mt-5 p-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header bg-success text-white text-center">
                    <h4>Login</h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password" required>
                        </div>

                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-success btn-block">Login</button>
                        </div>
                        <div>
                            <p>For New user <a href="{% url 'signup' %}">SIGNUP</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
