{% extends 'base.html' %}
{% block content %}

<h2 class="mb-4">Our Products</h2>

<!-- Product Grid -->
<div class="row">
    {% for product in products %}
    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body text-center">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">₹{{ product.price }}</p>

                <div class="d-flex  ">
                    <!-- Add to Cart Form -->
                    <form method="POST" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success m-1 p-1 ">Add to Cart</button>
                    </form>
                
                    <!-- "View Details" Button -->
                    <a href="{% url 'product_details' product.id %}" class="btn btn-primary m-1 p-1">View Details</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
